DM2212_Physics/Physics/Debug/
DM2212_Physics/Common/Debug/
DM2212_Physics/Common/x64/
DM2212_Physics/Physics/x64/
DM2212_Physics/x64/
DM2212_Physics/Debug/Physics.pdb
DM2212_Physics/Debug/Physics.ilk
DM2212_Physics/Debug/Physics.exe
DM2212_Physics/Debug/Common.pdb
DM2212_Physics/DM2212_Physics.VC.VC.opendb
DM2212_Physics/DM2212_Physics.VC.db
